*{
    margin: 0;
    padding: 0;
    list-style: none;
    text-decoration: none;
  }
  body{
    font-family: sans-serif;
    overflow: hidden;
    user-select: none;
  }
  nav .logo{
    color: white;
    font-size: 33px;
    font-weight: bold;
    line-height: 70px;
    padding-left: 110px;
  }
  nav{
    height: 70px;
    background: #063247;
    box-shadow: 0 3px 15px rgba(0,0,0,.4);
  }
  nav ul{
    float: right;
    margin-right: 30px;
  }
  nav ul li{
    display: inline-block;
  }
  nav ul li a{
    color: white;
    display: block;
    padding: 0 15px;
    line-height: 70px;
    font-size: 20px;
    background: #063247;
    transition: .5s;
  }
  nav ul li a:hover,
  nav ul li a.active{
    color: #23dbdb;
  }
  nav ul ul{
    position: absolute;
    top: 85px;
    border-top: 3px solid #23dbdb;
    opacity: 0;
    visibility: hidden;
  }
  nav ul li:hover > ul{
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: .3s linear;
  }
  nav ul ul li{
    width: 150px;
    display: list-item;
    position: relative;
    border: 1px solid #042331;
    border-top: none;
  }
  nav ul ul li a{
    line-height: 50px;
  }
  nav ul ul ul{
    border-top: none;
  }
  nav ul ul ul li{
    position: relative;
    top: -70px;
    left: 150px;
  }
  nav ul ul li a i{
    margin-left: 45px;
  }
  section{
    background: url(bg.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
  }
/***table***/
.content-table{
    margin:auto 50%;
}
.content-table{
    border-collapse: collapse;
    margin: 25px 0;
    font-size: 0.8em;
    min-width: 600px;
    border-radius: 10px 10px 10px 10px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    text-align: center;
    line-height: 140%;
}
.content-table thead tr{
    background-color: #009879;
    color: #ffff;
   text-align: center;
   font-weight: bold;
   font-size: 15px;
}
.content-table th,
.content-table td{
    padding: 12px 10px;
}
.content-table tbody tr{
    border-bottom: 2px solid #dddddd;
}
.content-table tbody tr:nth-last-of-type(even){
    background-color: #f3f3f3;
}
.content-table tbody tr:last-of-type{
    border-bottom: 6px solid #009879;
}
.content-table tbody tr.active-row{
    font-weight: bold;
    color: #009879;
}
.table-div, .text{
    margin: auto 7%;}
    .text{
        margin-left: 10%;
        font-size: 14px;
    }
.khmer{
    font-family:'Khmer', cursive;
    margin-left: 7%;
    font-size: 13.7px;

}
.p1{
   float: left;
   text-align: center;
   margin-left: 7%;
   margin-top: 20px;
   font-size: 13.7px;

   
}
.p2{
    float: right;
    text-align: center;
    margin-right: 7%;
   margin-top: 20px;
   font-size: 13.7px;

}
.box{
    background-color: #f8f5f1;
    width: 900px;
   height: 700px;
   margin-top: 30px;
  margin-left: auto;
  margin-right: auto;
   border-radius: 10px 10px 10px 10px;
   padding-top: 15px;
}
h2{
    margin-bottom: 20px;
}
.body1{
    background: url(bg.jpeg);
    background-position: center;
    background-size: cover;
    height: 100vh;
}

/* calculator */

.wrapper {
	width: 350px;
 position: absolute;
 top: 60%;
 left: 40%;
	transform: translate(-50%, -50%);
	background: #262626;
	padding: 50px;
	color: #fff;
	text-align: center;
    border: solid;
    box-shadow: 5px 10px 8px #888888;
}
.wrapper h2 {
	text-transform: uppercase;
	font-family: poppins;
	margin-bottom: 6%;
}
input[type="text"] {
	height: 40px;
}
input[type="text"] {
	font-size: 24px;
}
.button-calculate {
	background: #EE4477;
	border: none;
	color: #fff;
	display: inline-block;
	padding: 10px 25px;
	font-size: 18px;
	text-transform: uppercase;
	font-family: poppins;
	letter-spacing: 2px;
	font-weight: bold;
}
input[type="radio"] {
	width: 20px;
	height: 20px;
}
b {
	font-size: 30px;
}

/* contact form */
.contact-box
{
    width: 500px;
    background-color: #fff;
    box-shadow: 0 0 20px 0 #999;
    top: 55%;
    left: 35%;
    position:absolute;
    transform: translate(-50%,-50%);
}
.form-contact{
    margin: 35px;
}
.input-field{
    width: 400px;
    height: 40px;
    padding-left: 10px;
    padding-right: 10px;
    border: 1px solid #777;
    border-radius: 14px;
    outline: none;
    margin-top: 20px;
}
.textarea-field{
    height: 150px; 
    padding: 10px;
}
.btn{
    border-radius: 20px;
    color: #fff;
    margin-top: 18px;
    padding: 10px;
    background-color: #4ca1a3;
    font-size: 12px;
    border: none;
    cursor: pointer;
}
.btn:hover{
    background-color: #334443;
}
.h1-contact{
    text-align: center;
    text-transform: uppercase;
	margin-bottom: -6%;
    margin-top: 6%;
}